*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%
  }
  td, th {
    border: 1px solid rgb(30, 29, 29);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .id{
    width: 10%;
  }
  input{
    width: 50%;
    padding: 10px;
  }
  button{
    border: none;
  padding:10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  background-color: rgb(19, 19, 219);
  color: white;
  }
 a{
  text-decoration: none;
  color: #222;
 }  
 body{
  position: relative;
 }
 .add{
  border:2px dashed #222;
top: 30px;
right: 30px;
position: absolute;
  cursor: pointer;
  font-size: 25px;
width:50px;
height: 50px;
  border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
  background-color:transparent;
  color:#222;
 }
 img{
  width: 30px;
  height: 30px;
 }
